:root {
  --dark-neutral900: rgba(51, 51, 51, 1);
  --light-neutral800: rgba(179, 179, 179, 1);
  --alphawhite: rgba(255, 255, 255, 1);
  --neutral-200: rgba(235, 235, 235, 1);
  --neutral-900: rgba(18, 18, 18, 1);
  --neutral-500: rgba(153, 153, 153, 1);
  --neutral-700: rgba(89, 89, 89, 1);
  --label-xs-bold-font-family: "DMSans-Bold", Helvetica;
  --label-xs-bold-font-weight: 700;
  --label-xs-bold-font-size: 14px;
  --label-xs-bold-letter-spacing: 0.28px;
  --label-xs-bold-line-height: 24px;
  --label-xs-bold-font-style: normal;
  --paragraph-sm-default-font-family: "Inter-Regular", Helvetica;
  --paragraph-sm-default-font-weight: 400;
  --paragraph-sm-default-font-size: 16px;
  --paragraph-sm-default-letter-spacing: 0.32px;
  --paragraph-sm-default-line-height: 24px;
  --paragraph-sm-default-font-style: normal;
  --label-xs-medium-font-family: "Inter-Medium", Helvetica;
  --label-xs-medium-font-weight: 500;
  --label-xs-medium-font-size: 14px;
  --label-xs-medium-letter-spacing: 0.28px;
  --label-xs-medium-line-height: 14px;
  --label-xs-medium-font-style: normal;
  --label-xs-default-font-family: "Inter-Regular", Helvetica;
  --label-xs-default-font-weight: 400;
  --label-xs-default-font-size: 14px;
  --label-xs-default-letter-spacing: 0.28px;
  --label-xs-default-line-height: 14px;
  --label-xs-default-font-style: normal;
  --elevation-light-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
