:root {
  --dark-neutral900: rgba(51, 51, 51, 1);
  --light-neutral800: rgba(179, 179, 179, 1);
  --alphawhite: rgba(255, 255, 255, 1);
  --neutral-200: rgba(235, 235, 235, 1);
  --neutralstrue-white: rgba(255, 255, 255, 1);
  --neutral-300: rgba(214, 214, 214, 1);
  --light-neutral500: rgba(64, 64, 64, 1);
  --light-neutral900: rgba(245, 245, 245, 1);
  --dark-neutral600: rgba(229, 229, 229, 1);
  --primary-800: rgba(47, 76, 188, 1);
  --dark-neutral500: rgba(242, 242, 242, 1);
  --primary-700: rgba(63, 102, 251, 1);
  --basewhite: rgba(255, 255, 255, 1);
  --gray-300: rgba(208, 213, 221, 1);
  --baseblack: rgba(0, 0, 0, 1);
  --gray-50: rgba(249, 250, 251, 1);
  --neutrals-100: rgba(252, 252, 252, 1);
  --primary-500: rgba(66, 164, 235, 1);
  --primary-600: rgba(39, 141, 214, 1);
  --neutral-900: rgba(18, 18, 18, 1);
  --neutral-500: rgba(153, 153, 153, 1);
  --neutral-700: rgba(89, 89, 89, 1);
  --header-web-h3-font-family: "DMSans-Bold", Helvetica;
  --header-web-h3-font-weight: 700;
  --header-web-h3-font-size: 40px;
  --header-web-h3-letter-spacing: -0.8px;
  --header-web-h3-line-height: 48px;
  --header-web-h3-font-style: normal;
  --label-xs-bold-font-family: "DMSans-Bold", Helvetica;
  --label-xs-bold-font-weight: 700;
  --label-xs-bold-font-size: 14px;
  --label-xs-bold-letter-spacing: 0.28px;
  --label-xs-bold-line-height: 24px;
  --label-xs-bold-font-style: normal;
  --paragraph-sm-default-font-family: "Inter-Regular", Helvetica;
  --paragraph-sm-default-font-weight: 400;
  --paragraph-sm-default-font-size: 16px;
  --paragraph-sm-default-letter-spacing: 0.32px;
  --paragraph-sm-default-line-height: 24px;
  --paragraph-sm-default-font-style: normal;
  --label-xs-default-font-family: "Inter-Regular", Helvetica;
  --label-xs-default-font-weight: 400;
  --label-xs-default-font-size: 14px;
  --label-xs-default-letter-spacing: 0.28px;
  --label-xs-default-line-height: 14px;
  --label-xs-default-font-style: normal;
  --button-md-medium-font-family: "DMSans-Medium", Helvetica;
  --button-md-medium-font-weight: 500;
  --button-md-medium-font-size: 18px;
  --button-md-medium-letter-spacing: 0.72px;
  --button-md-medium-line-height: 20px;
  --button-md-medium-font-style: normal;
  --buttons-default-font-family: "Inter-Medium", Helvetica;
  --buttons-default-font-weight: 500;
  --buttons-default-font-size: 18px;
  --buttons-default-letter-spacing: 0px;
  --buttons-default-line-height: 24px;
  --buttons-default-font-style: normal;
  --label-xs-medium-font-family: "Inter-Medium", Helvetica;
  --label-xs-medium-font-weight: 500;
  --label-xs-medium-font-size: 14px;
  --label-xs-medium-letter-spacing: 0.28px;
  --label-xs-medium-line-height: 14px;
  --label-xs-medium-font-style: normal;
  --elevation-light-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --elevation-light-dropshadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
